<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :ticket_title %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, [["Todo", "todo"], ["Doing", "doing"], ["Done", "done"]] %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :ticket_description %>
  </div>

  <div class="field">
    <%= form.label :assignee %>
    <%= form.text_field :assignee, id: :ticket_assignee %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
